<!DOCTYPE html>
<html>
    <head>
        {% block styles %}
        <link rel="stylesheet", href="{{url_for('static', filename='base.css')}}">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar-container">
            <div class="navbar-left">
                <a href="{{ url_for('home')}}"> Timi's Corner </a>
            </div>
            <div class="navbar-right">
                <a href=" {{ url_for('contact')}} "> Contact </a>
                <a href=" {{ url_for('login')}} "> Log in </a>
                <a href=" {{ url_for('signup')}} "> Sign up </a>
            </div>
            
        </nav>
        <!-- <h1 class="welcome-header"> Welcome to Timi's Corner </h1>
        <h3> This is going to be the description of the Blog </h3> -->
        {% block content %}
        <div class="display-blogs-container">
            <div class="left-section">
                <div class="latest-blog"> Main blog of the day would go here</div>
            </div>
            
            <div class="right-section"> 
                <div class="sub-display-blog"> Second Blog </div>
                <div class="sub-display-blog"> Third blog </div>
            </div>
        </div>

        <div class="button-container">
            <button class="load-more-button"> Load More </button>
        </div>
        {% endblock %}
       
    </body>
</html>


