<!DOCTYPE html>
<html>
    <head>
        {% include "header.html" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='user-authentication.css')}}">
    </head>
    <body>
        <h1 class="email"> Hellooo</h1>
            <form class="form-conainer">
                <label > Email </label>
                <input type="text">
                <label> Password </label>
                <input type="password">
                <button type="submit"> Login </button>
            </form>
        </div>
    </body>
</html>