<!DOCTYPE html>
<html>
    <head>
        {% extends "index.html" %}
        {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='user-authentication.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div>
            <h1 class="email"> Welcome back! </h1>
            <p> Login to continue </p>
            <form class="form-conainer">
                {{ form.csrf_token }}
                <p>{{form.email.label}}</p>
                <p> {{form.email()}} </p>
                <p> {{ form.password.label }} </p>
                <p> {{ form.password()}} </p>
                <p> {{ form.submit }} </p>
            </form>
        </div>
        
        {% endblock %}
    </body>
</html>