<!DOCTYPE html>
<html>
    <head>
        {% include "header.html" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css')}}">
    </head>
    <body>
        <nav class="navbar-container">
            <div class="navbar-left">
                <a> Timi's Corner </a>
            </div>
            <div class="navbar-right">
                <a href=" {{ url_for('contact')}} "> Contact </a>
                <a href=" {{ url_for('login')}} "> Log in </a>
                <a href=" {{ url_for('signup')}} "> Sign up </a>
            </div>
            
        </nav>
    </body>
</html>