<!DOCTYPE html>
<html>
    <head>
        {% extends "index.html" %}
    </head>
    <body>
        {% block content %}
        <div>
            <form>
                {{ form.csrf_token }}
                <p> {{ form.email.label }}</p>
                <p> {{ form.email() }}</p>
                <p> {{ form.password.label }} </p>
                <p> {{ form.password() }} </p>
                <p> {{ form.submit() }} </p>
            </form>
        </div>
        {% endblock %}
    </body>
</html>